<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Colors of the Month</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./styles/main.css">
        
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <div class = "background">
        <div id ="1">
        </div>
        <div id ="2">
        </div>
        <div id ="3">
        </div>
        <div id ="4">
        </div>
        <div id ="5">
        </div>
        <div id ="6">
        </div>
        <div id ="7">
        </div>
        <div id ="8">
        </div>
        <div id ="9">
        </div>
        <div id ="10">
        </div>
        <div id ="11">
        </div>
        <div id ="12">
        </div>
        <div id ="13">
        </div>
        <div id ="14">
        </div>
        <div id ="15">
        </div>
        <div id ="16">
        </div>
        <div id ="17">
        </div>
        <div id ="18">
        </div>
        <div id ="19">
        </div>
        <div id ="20">
        </div>
        <div id ="21">
        </div>
        <div id ="22">
        </div>
        <div id ="23">
        </div>
        <div id ="24">
        </div>
        <div id ="25">
        </div>
        <div id ="26">
        </div>
        <div id ="27">
        </div>
        <div id ="28">
        </div>
        <div id ="29">
        </div>
        <div id ="30">
        </div>
        </div>
        <div class="card">
        <div class="row">
            <div class="card-header">
                <div class="card-header-content">
                    Colors of the Month
                </div>
            </div>
        </div>
        <div class="card-content">
        <div class="row">Date<br>
        <select id= "day">
          <option value="01">1</option>
          <option value="02">2</option>
          <option value="03">3</option>
          <option value="04">4</option>
          <option value="05">5</option>
          <option value="06">6</option>
          <option value="07">7</option>
          <option value="08">8</option>
          <option value="09">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30">30</option>
        </select>
        </div>
        <div class="row">Mood<br>
        <select id="mood">
            <option value="great">great</option>
            <option value="good">good</option>
            <option value="soso">so-so</option>
            <option value="notgood">not good</option>
            <option value="terrible">terrible</option>
        </select>
        </div>
        <div class="row">
        <button id="send">send</button>
        <button id="show">show</button>
        </div>
        </div>
        </div>
        <script src="./js/main.js"></script>
    </body>
</html>